- title t '.title'

.row
  .col-sm-12
    .jumbotron
      %h1= t 'application.name'
      %p= t 'application.description'
      %p
        = link_to t('.fork'), 'https://gitlab.devfu.com/devfu/base', class: 'btn btn-danger'
        or
        = link_to 'https://heroku.com/deploy?template=https://gitlab.devfu.com/devfu/base', alt: 'deploy' do
          = image_tag('https://www.herokucdn.com/deploy/button.svg')

- unless user_signed_in?
  .row
    .col-sm-6
      %h2 New Users
      = link_to t('.facebook'), user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-primary'
      = link_to t('.github'),   user_github_omniauth_authorize_path,   class: 'btn btn-block btn-warning'
      = link_to t('.twitter'),  user_twitter_omniauth_authorize_path,  class: 'btn btn-block btn-info'
      = link_to t('.sign_up'),  new_user_registration_path,            class: 'btn btn-block btn-default'

    .col-sm-6
      %h2 Existing users
      = link_to t('.sign_in'), new_user_session_path, class: 'btn btn-block btn-success'
