.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '.navbar-collapse' }, type: 'button' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to t('application.name'), root_path, class: 'navbar-brand'

    .navbar-collapse.collapse

      %ul.nav.navbar-nav.navbar-right
        - if can? :dashboard, :sidekiq
          %li= link_to t('.sidekiq'), sidekiq_web_path

        %li.divider-vertical
          - if user_signed_in?
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = current_user.username
                %b.caret

              %ul.dropdown-menu
                %li= link_to t('.account'),  edit_user_registration_path
                %li= link_to t('.sign_out'), destroy_user_session_path, :method => :delete

          - else
            %li= link_to t('.sign_up'), new_user_registration_path
            %li= link_to t('.sign_in'), new_user_session_path
